@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties, update these for your own design */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #000000;
    --clr-dark: #ffffff8c;
    --clr-accent: #115ae2;
    --clr-darker: #033797;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */


html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    overflow-x: hidden;
}

section {
    padding: 2em 1em;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold) }

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-light);
    text-decoration: none;
    cursor: pointer;
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
    color: var(--clr-light);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-primary);
    margin-bottom: 1em;
    margin-top: 2em;
}

.section__subtitle--work {
    color: var(--clr-light);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.nav {
    position: fixed;
    background: var(--clr-light);
    color: var(--clr-accent);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: right;
    margin: 5rem;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}

.nav__link:hover {
    color: #000000;
}

.nav-toggle {
    padding: .5em;
    background: #000000;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 500;
}

.nav-open .nav {
    transform: translateX(0%);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}






.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }


/*  Intro section  */

.intro {
    position: relative;
    margin-top: 50px;
    width: 90%;
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 3em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    
    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -0em;
        width: calc(100% + 0em);
    }
}



/*  My services section  */

.my-services {
    background-color: var(--clr-dark);
    background-image: url(../img/services-bg.jpg);
    background-size: cover;
    /* background-blend-mode: multiply; */
    color: var(--clr-light);
    text-align: center;
}

.section__title--services {
    color: var(--clr-darker);
    position: relative;
}

.section__title--work {
    color: var(--clr-darker);
}

.section__title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.services {
    margin-bottom: 4em;
}

.service {
    max-width: 330px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .service + .service {
        margin-left: 2em;
    }
}


.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
    border-radius: 40%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }
    
    .section__title--about {
        grid-area: title;
    }
    
    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100%+1em);
    }
    
    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

/* My Work */

.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;    
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.portfolio__item {
    background: var(--clr-accent);
    overflow: hidden;

}

.portfolio__img {
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: .5;
}


/* footer */

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);

}

.footer a { 
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}

/* Individual portfolio item styles */

.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper{
    margin-left: auto;
    margin-right: auto; 
    width: 95%; 
}

.welcome {
    position: absolute;
    background-image: -webkit-linear-gradient(#006da8 0%, #55bbff 47%, #cafbff 50%, #fffd77 53%, #fac002 58%, #ffbb56 90%, #ffc56d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.3px #000000;
    font-size: 3.3rem;
    font-family: 'Titillium Web', sans-serif;
    font-style: bold;
    margin-top: -60px;
    margin-left: 10px;
    -webkit-filter: drop-shadow(2px 2px 4px #ffffff);
  }
  
  .welcome:before {
    content: 'My Portfolio';
    position: absolute;
    z-index: 0;
    background-image: -webkit-linear-gradient(-30deg, transparent 0%, transparent 40%, rgb(255, 255, 255) 50%, transparent 60%, transparent 100%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 0;
    padding-right: 0px;
    -webkit-animation-name: welcome_effect;
    -webkit-animation-duration: 15s;
    -webkit-animation-delay: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  
  .dreams {
    position: relative;
    font-family: 'Mr Dafoe', cursive;
    font-size: 2.3rem;
    color: rgb(255, 0, 0) ;
    transform:rotate(-7deg);
    -ms-transform:rotate(-7deg);
    -webkit-transform:rotate(-7deg);
    margin-left: 100px;
    margin-top: 0px;
    margin-bottom: 20px;
    -webkit-text-stroke: 0.10px #000000;
    -webkit-filter: drop-shadow(5px 1.75px 8px #da0000);
    z-index: 20;
    letter-spacing: 0.065em;
  }
  
  .windows .dreams {
    -webkit-text-stroke: 0.25px #0000009a;
  }

  @-webkit-keyframes welcome_effect {
    0% {background-position:-1200px 0;}
    100% {background-position:-0px 0;}
  }

  .portfolio-item__img {
    max-width: 600px;
  }

  .portfolio_item_murex_img {
    box-shadow: var(--bs);
    border-radius: 10%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.contact-form {
    margin: auto;
    width: 90%;
    padding-bottom: 2em;  
    text-align:center; 
}

.contact-form::before {
    content: '';
    display: block;
    width: 8em;
    height: 3px;
    margin: 0.5em auto 1em;
    background: var(--clr-accent);
    opacity: 0.25;
}

.contact-form-text textarea{
    margin: auto;
    width: 75%;
    height: 200px;
    background-image: linear-gradient(120deg,var(--clr-darker),var(--clr-accent));
    color: #000000;
}

.contact-form-email input {
    margin: auto;
    width: 220px;
    background-image: linear-gradient(120deg,var(--clr-darker),var(--clr-accent));
    color: #000000;
}

::placeholder {
    color: #000000;
}

/*
.contact-form-button button:before {
    background: #000;
    border-radius: inherit;
    bottom: 0;
    -webkit-box-shadow: 0 0.5em 1.25em #000;
    box-shadow: 0 0.5em 1.25em rgb(0, 29, 196);
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    font-weight: var(--fw-bold);
    right: 0;
    top: 0;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
    z-index: -1;
}
*/
/*
.contact-form-button button[data-reverse=true] {
    background-color: var(--clr-darker);
    color: var(--clr-darker);
}
*/

.contact-form-button button {
    --font-weight: 500;
    background-color: var(--clr-accent);
    font-weight: var(--fw-bold);
    border: 0;
    border-radius: 100vw;
    -webkit-box-shadow: 0.1em 0.1em 0.1em rgba(0, 29, 196, 0.856);
    box-shadow: 0.1em 0.1em 0.1em rgb(0, 29, 196);
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-size: var(--fs-body);
    letter-spacing: .04em;
    line-height: 1;
    padding: 0.5em 2em 0.5em;
    position: relative;
    text-decoration: none;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease,-webkit-transform .2s ease;
}